.vc-layout {
  background-color: #f6f7f8;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 300px auto 300px;
  grid-template-rows: 60px auto 60px;
  gap: 10px;

  &--header,
  &--footer {
    grid-column: 1/4;
    background-color: #fff;
  }

  &--header {
    border-bottom: var(--vc-border);
    background-color: #fff;
  }

  &--left {
    border-top: var(--vc-border);
    border-right: var(--vc-border);
    border-bottom: var(--vc-border);
    background-color: #fff;
  }

  &--middle {
    border: var(--vc-border);
    background-color: #fff;
  }

  &--right {
    border-top: var(--vc-border);
    border-left: var(--vc-border);
    border-bottom: var(--vc-border);
    background-color: #fff;
  }

  &--footer {
    border-top: var(--vc-border);
    background-color: #fff;
  }
}